<div class="jumbotron">
  <h1>Handcrafted items from<br>around the world</h1>
  <h2>Discover one-of-a kind items</h2>  
</div>




<div class="row text-center">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(listing.image.url), listing %>
        <div class="caption">
          <h3><%= listing.name %></h3>
          <p><%= listing.description %></p>
          <p><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by: #{listing.user.name}" %></p>
        </div>  
      </div>
    </div>
  <% end %>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
<% end %>