<table class="table table-striped table-bordered">
  <tr>
    <th class="text-center">Image</th>
    <th class="text-center">Name</th>
    <th class="text-center">Description</th>
    <th class="text-center">Price</th>
    <th class="text-center">Action</th>
  </tr>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= image_tag listing.image.url(:thumb) %></td>
      <td><%= listing.name %></td>
      <td><%= listing.description %></td>
      <td><%= number_to_currency(listing.price) %></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="listing-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Actions
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="listing-actions">
            <li>
              <%= link_to 'View', listing, class: 'btn btn-link' %>
            </li>
            <li>
              <%= link_to 'Edit', edit_listing_path(listing), class: 'btn btn-link' %>
            </li>
            <li>
              <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
            </li>
          </ul>
        </div>
        
      </td>
    </tr>
  <% end %>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
<% end %>