<div class="text-center">
  <h2>Your Sales History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="text-center">Image</th>
    <th class="text-center">Item</th>
    <th class="text-center">Price</th>
    <th class="text-center">Customer</th>
    <th class="text-center">Date Sold</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= image_tag order.listing.image.url(:thumb) %></td>
      <td><%= order.listing.name %></td>
      <td><%= number_to_currency(order.listing.price) %></td>
      <td><%= order.buyer.name %></td>
      <td><%= order.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
  <% end %>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-link' %>
<% end %>