@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f5f5f1;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #efefef;
}

.navbar-default .navbar-brand {
  font-family: guardian-egypt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192b5;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.caption {
  h3 {
    font-size: 17px;
    margin: 2px;
  }
  p {
    font-size: 15px;
    margin: 0;
  }
}


.jumbotron {
  background-image: url('http://wowslider.com/sliders/demo-10/data/images/dock.jpg');
  background-position: center bottom;
  background-size: cover;

  color: #fff;
  text-shadow: 1px 1px #000;

  font-family: guardian-egypt, georgia, serif;

  h1 {
    text-transform: uppercase;
  }
}